.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 60px;
  padding: 10px 10px 10px 18px;
  min-width: 280px;
  background: #244c98;
  transition: background 0.3s;
  &:hover {
    background: #161819;
  }
  &:active {
    &>.logo {
      transform: scale(0.95);
      transition: 0.3s;
    }
  }
}

.label {
  font-size: 15px;
  line-height: 160%;
  color: #fff;
}


@media (min-width: 768px) {
  .button{
    min-width: 260px;
  }
}

@media (min-width: 1440px) {
  .button {
    padding-left: 28px;
    min-width: 340px;
  }

  .logo {
    width: 44px;
    height: 44px;
  }

  .label {
    font-size: 18px;
  }
}
